<div class="containar">
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="wrapper">
        <form action="">
            <h1>Device Approval</h1>
            <img src="https://images.unsplash.com/photo-1548021029-d6cf339a5ce4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
            <p>If that's you approve device</p>
    
            <button (click)="approveDevice()">Approve Device</button>
            <button class="cancel" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>
 <!-- Error Message Display -->
 <div class="error-toast" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="success-toast" *ngIf="successMessage">
    {{ successMessage }}
  </div>