<h2 class="list-title">Ajouter une nouvelle catégorie de dépenses</h2>

<div class="form-container">
    <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
      
      <!-- Champ Nom -->
      <div class="depense-detail">
        <label class="label" for="nom">Nom :</label>
        <input
          type="text"
          id="nom"
          name="nom"
          [(ngModel)]="newCategory.nom"
          required
          class="form-input"
          placeholder="Nom de la catégorie"
          #nom="ngModel"
          pattern="^[A-Za-zÀ-ÖØ-öø-ÿ ]+$"
        />
        
        <!-- Message d'erreur pour le champ nom - Requis -->
        <p *ngIf="nom.touched && nom.errors?.['required']" class="error-message message">
          Le nom est requis et doit être une chaîne valide (lettres et espaces uniquement).
        </p>
        
        <!-- Message d'erreur pour le champ nom - Pattern -->
        <p *ngIf="nom.touched && nom.errors?.['pattern'] && !nom.errors?.['required']" class="error-message message">
          Le nom ne doit contenir que des lettres et des espaces.
        </p>
      </div>
  
      <!-- Champ Description -->
      <div class="depense-detail">
        <label class="label" for="description">Description :</label>
        <input
          type="text"
          id="description"
          name="description"
          [(ngModel)]="newCategory.description"
          class="form-input"
          placeholder="Description (facultatif)" />
      </div>
  
      <!-- Champ Budget alloué -->
      <div class="depense-detail">
        <label class="label" for="budgetAlloue">Budget alloué :</label>
        <input
          type="number"
          id="budgetAlloue"
          name="budgetAlloue"
          [(ngModel)]="newCategory.budgetAlloue"
          required
          class="form-input"
          placeholder="Ex: 100.00"
          #budgetAlloue="ngModel"
          min="10"
        />
        <!-- Message d'erreur pour le champ budget -->
        <p *ngIf="budgetErreur && categoryForm.submitted" class="error-message message">
          Le budget doit être supérieur ou égal à 10.
        </p>
      </div>
  
      <!-- Bouton de soumission -->
      <div class="etat-container" style="justify-content: flex-end;">
        <button type="submit" class="submit-btn" [disabled]="nom.invalid || budgetAlloue.invalid">
          Ajouter Catégorie
        </button>
      </div>
  
      <!-- Message de succès -->
      <p *ngIf="successMessage" class="success-message message">
        {{ successMessage }}
      </p>
    </form>
  </div>
  