<div class="form-container">
    <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
      
      <!-- Champ Nom -->
      <div class="depense-detail">
        <label class="label" for="nom">Nom :</label>
        <input
          type="text"
          id="nom"
          name="nom"
          [(ngModel)]="newCategory.nom"
          required
          class="form-input"
          placeholder="Nom de la catégorie"
          #nom="ngModel" />
        <p *ngIf="nom.invalid && nom.touched" class="error-message">
          Le nom est requis.
        </p>
      </div>
  
      <!-- Champ Description -->
      <div class="depense-detail">
        <label class="label" for="description">Description :</label>
        <input
          type="text"
          id="description"
          name="description"
          [(ngModel)]="newCategory.description"
          class="form-input"
          placeholder="Description (facultatif)" />
      </div>
  
      <!-- Champ Budget alloué -->
      <div class="depense-detail">
        <label class="label" for="budgetAlloue">Budget alloué :</label>
        <input
          type="number"
          id="budgetAlloue"
          name="budgetAlloue"
          [(ngModel)]="newCategory.budgetAlloue"
          required
          class="form-input"
          placeholder="Ex: 100.00"
          #budgetAlloue="ngModel" />
          <p *ngIf="budgetErreur && budgetAlloue.touched" class="error-message">
            Le budget doit être supérieur ou égal à 10.
          </p>
          
      </div>
  
      <!-- Bouton de soumission -->
      <div class="etat-container" style="justify-content: flex-end;">
        <button type="submit" class="submit-btn" [disabled]="nom.invalid">
          Ajouter Catégorie
        </button>
      </div>
  
    </form>
  </div>
  