<div class="parent-container">
    <div class="form-container-style calcul-interet-container">
      <h2>Calculer le Montant avec Intérêts</h2>
      <form [formGroup]="calculForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="compteId">ID du Compte Épargne</label>
          <input type="number" id="compteId" formControlName="compteId" min="1">
          <div *ngIf="calculForm.get('compteId')?.invalid && calculForm.get('compteId')?.touched" class="error-text">
            Veuillez entrer un ID de compte valide.
          </div>
        </div>
        <div class="form-group">
          <label for="dureeEnMois">Durée en Mois</label>
          <input type="number" id="dureeEnMois" formControlName="dureeEnMois" min="1">
          <div *ngIf="calculForm.get('dureeEnMois')?.invalid && calculForm.get('dureeEnMois')?.touched" class="error-text">
            Veuillez entrer une durée en mois valide.
          </div>
        </div>
        <button type="submit" [disabled]="calculForm.invalid || isLoading" class="primary-button">Calculer</button>
      </form>
  
      <div *ngIf="isLoading" class="loading-indicator">
        <div class="spinner"></div>
        Calcul en cours...
      </div>
  
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
  
      <div *ngIf="resultatInteret !== null" class="result-icon">
        <span class="icon">💰</span>
        <div class="result-text">Montant total après intérêts : <span class="amount">{{ resultatInteret | number: '1.2-2' }} DT</span></div>
      </div>
    </div>
  </div>