<h2 mat-dialog-title>Plan d'Épargne pour l'Objectif #{{ data.objectifId }}</h2>
<mat-dialog-content *ngIf="!loading && !error && plan">
  <div class="result-item">
    <span class="result-label">Montant Objectif:</span>
    <span class="result-value">{{ plan.montantObjectif | number:'1.2-2' }} DT</span>
  </div>
  <div class="result-item">
    <span class="result-label">Date Estimée:</span>
    <span class="result-value">{{ plan.dateEstimee }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Recommandation:</span>
    <span class="result-value">{{ plan.recommendation }}</span>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="loading">
  Chargement du plan d'épargne...
</mat-dialog-content>
<mat-dialog-content *ngIf="error">
  {{ error }}
</mat-dialog-content>
<mat-dialog-actions align ="end">
  <button mat-button (click)="onFermerClick()">Fermer</button>
</mat-dialog-actions>