<div class="parent-container">
  <div class="form-container-style">
    <h2>Ajouter un Objectif</h2>
    <form [formGroup]="objectifForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" formControlName="nom">
        <div *ngIf="objectifForm.get('nom')?.invalid && objectifForm.get('nom')?.touched" class="error-text">
          Le nom est requis.
        </div>
      </div>
      <div class="form-group">
        <label for="montantObjectif">Montant Objectif</label>
        <input type="number" id="montantObjectif" formControlName="montantObjectif" min="0.01">
        <div *ngIf="objectifForm.get('montantObjectif')?.invalid && objectifForm.get('montantObjectif')?.touched" class="error-text">
          Le montant doit être supérieur à zéro.
        </div>
      </div>
      <div class="form-group">
        <label for="dateCreation">Date de Création</label>
        <input type="date" id="dateCreation" formControlName="dateCreation">
        <div *ngIf="objectifForm.get('dateCreation')?.invalid && objectifForm.get('dateCreation')?.touched" class="error-text">
          La date de création est requise.
        </div>
      </div>
      <div class="form-group">
        <label for="compteEpargneId">Compte Épargne</label>
        <select id="compteEpargneId" formControlName="compteEpargneId">
          <option value="" disabled selected>Sélectionner un compte</option>
          <option *ngFor="let compte of comptesEpargne" [value]="compte.id">
            Compte #{{ compte.id }} - Solde: {{ compte.solde }} DT
          </option>
        </select>
        <div *ngIf="objectifForm.get('compteEpargneId')?.invalid && objectifForm.get('compteEpargneId')?.touched" class="error-text">
          Le compte épargne est requis.
        </div>
      </div>
      <button type="submit" [disabled]="objectifForm.invalid" class="primary-button">Ajouter l'Objectif</button>
    </form>
    <div *ngIf="message" class="message" [class.error-message]="isError" [class.success-message]="!isError">{{ message }}</div>
  </div>

  <div class="alert-popup show" *ngIf="showAlertPopup">
    <h3>Avertissement</h3>
    <p>{{ alertMessage }}</p>
    <div class="popup-actions">
      <button class="btn btn-primary" (click)="closeAlertPopup(true)">Continuer</button>
      <button class="btn btn-secondary" (click)="closeAlertPopup(false)">Annuler</button>
    </div>
  </div>
</div>