<div class="form-container">
    <h2>Ajouter une Dépense Récurrente</h2>
    <form [formGroup]="depenseForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="categorie">Catégorie</label>
          <select formControlName="categorie">
  <option [ngValue]="null" disabled>-- Choisir une catégorie --</option>
  <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat.nom }}</option>
</select>

          
          
          <div *ngIf="depenseForm.get('categorie')?.invalid && depenseForm.get('categorie')?.touched">
            <small>La catégorie est requise.</small>
          </div>
        </div>
      
        <div class="form-group">
          <label for="montant">Montant</label>
          <input type="number" id="montant" formControlName="montant" />
          <div *ngIf="depenseForm.get('montant')?.invalid && depenseForm.get('montant')?.touched">
            <small>Le montant est requis et doit être positif.</small>
          </div>
        </div>
      
        <div class="form-group">
          <label for="dateDebut">Date de début</label>
          <input type="date" id="dateDebut" formControlName="dateDebut" />
          <div *ngIf="depenseForm.get('dateDebut')?.invalid && depenseForm.get('dateDebut')?.touched">
            <small>La date de début est requise.</small>
          </div>
        </div>
      
        <div class="form-group">
          <label for="frequence">Fréquence</label>
          <select id="frequence" formControlName="frequence">
            <option value="MENSUELLE">Mensuelle</option>
            <option value="TRIMESTRIELLE">Trimestrielle</option>
            <option value="ANNUELLE">Annuelle</option>
          </select>
          <div *ngIf="depenseForm.get('frequence')?.invalid && depenseForm.get('frequence')?.touched">
            <small>La fréquence est requise.</small>
          </div>
        </div>
        <div class="form-field">
          <label for="wallet">Wallet</label>
          <div class="select-wrapper">
            <select id="wallet" formControlName="wallet" class="custom-select">
              <option value="">-- Choisir un wallet --</option>
              <option *ngFor="let wallet of wallets" [value]="wallet.id">
                Wallet #{{wallet.id}} - Solde: {{wallet.solde}} DT - {{wallet.statut}}
              </option>
            </select>
          </div>
          <div class="error-hint" *ngIf="depenseForm.get('wallet')?.touched && depenseForm.get('wallet')?.invalid">
            <span>Veuillez choisir un wallet</span>
          </div>
        </div>
        <button type="submit" [disabled]="depenseForm.invalid">Ajouter la dépense récurrente</button>
      </form>
      
      <div *ngIf="message" [ngClass]="{
        'text-green-600': messageType === 'success',
        'text-red-600': messageType === 'error'
      }" class="text-sm font-semibold my-2">
        {{ message }}
      </div>
      
      
  </div>
  