<div class="scheduled-transfers-container">
  <h3>Scheduled Transfers</h3>
  
  <p>This is a placeholder for the Scheduled Transfers component.</p>
  
  <div class="transfers-list">
    <div *ngFor="let transfer of scheduledTransfers" class="transfer-item">
      <div class="transfer-details">
        <span class="transfer-id">ID: {{transfer.id}}</span>
        <span class="transfer-amount">${{transfer.amount}}</span>
        <span class="transfer-date">{{transfer.date}}</span>
        <span class="transfer-status">{{transfer.status}}</span>
      </div>
      <div class="transfer-actions">
        <button>Edit</button>
        <button>Cancel</button>
      </div>
    </div>
  </div>
</div>