<div class="parent-container">
  <div class="form-container-style">
    <h2>Ajouter un Dépôt</h2>
    <form [formGroup]="depotForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="montant">Montant</label>
        <input type="number" id="montant" formControlName="montant" min="0.01">
        <div *ngIf="depotForm.get('montant')?.invalid && depotForm.get('montant')?.touched" class="error-text">
          Le montant doit être supérieur à zéro.
        </div>
      </div>
      <div class="form-group">
        <label for="dateDepot">Date du Dépôt</label>
        <input type="date" id="dateDepot" formControlName="dateDepot">
        <div *ngIf="depotForm.get('dateDepot')?.invalid && depotForm.get('dateDepot')?.touched" class="error-text">
          La date du dépôt est requise.
        </div>
      </div>
      <div class="form-group">
        <label for="frequenceDepot">Fréquence du Dépôt</label>
        <select id="frequenceDepot" formControlName="frequenceDepot">
          <option value="">Sélectionner une fréquence</option>
          <option value="mensuel">Mensuel</option>
          <option value="trimestriel">Trimestriel</option>
          <option value="annuel">Annuel</option>
        </select>
        <div *ngIf="depotForm.get('frequenceDepot')?.invalid && depotForm.get('frequenceDepot')?.touched" class="error-text">
          La fréquence du dépôt est requise.
        </div>
      </div>
      <div class="form-group">
        <label for="compteEpargneId">Compte Épargne</label>
        <select id="compteEpargneId" formControlName="compteEpargneId">
          <option value="" disabled selected>Sélectionner un compte</option>
          <option *ngFor="let compte of comptesEpargne" [value]="compte.id">
            Compte #{{ compte.id }} - Solde: {{ compte.solde }} DT
          </option>
        </select>
        <div *ngIf="depotForm.get('compteEpargneId')?.invalid && depotForm.get('compteEpargneId')?.touched" class="error-text">
          Le compte épargne est requis.
        </div>
      </div>
      <button type="submit" [disabled]="depotForm.invalid" class="primary-button">Ajouter le Dépôt</button>
    </form>
    <div *ngIf="message" class="message" [class.error-message]="isError" [class.success-message]="!isError">{{ message }}</div>
  </div>
</div>