<div class="balance-container">
    <div #card class="banking-card">
      <div class="card-content">
        <div class="card-balance">
          <h2>Available Balance</h2>
          <span class="balance-amount">{{ balanceAmount }}</span>
        </div>
        <div class="card-chip"></div>
        <div class="card-number">**** **** **** 1234</div>
        <div class="card-name">Rayen Dridi</div>
        <div class="card-expiry">12/24</div>
        <div class="money-flow"></div>
      </div>
    </div>
  </div>