<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="wallets.length === 0" class="no-wallets-message">
    Aucun wallet trouvé.
  </div>
  
  <div *ngIf="wallets.length > 0" class="wallets-wrapper">
    <div class="wallets-title">Liste des Expense Wallet</div>
  
    <div class="wallets-container">
      <div *ngFor="let wallet of wallets" class="wallet-card">
        <div class="wallet-header">
            <h3>{{ wallet.statut === 'ACTIF' ? 'ACTIF' : 'Désactivé' }}</h3>
            <span class="wallet-balance">{{ wallet.solde | currency }}</span>
        </div>
        <div class="wallet-info">
          <small>Ouvert le : {{ wallet.dateOuverture | date: 'dd/MM/yyyy' }}</small>
        </div>

    <!-- N’affiche le bouton que si le wallet est ACTIF -->
<button *ngIf="wallet.statut === 'ACTIF'" (click)="onDeactivateWallet(wallet.id)">
    Désactiver
  </button>
  <button *ngIf="wallet.statut === 'INACTIF'" (click)="onactivateWallet(wallet.id)">
    activer
  </button>
      </div>
    </div>
  </div>
  