<div class="calendar-container">
  <div class="calendar-header">
    <h2>Calendrier des exécutions</h2>
  </div>

  <div class="calendar-grid">
    <!-- En-têtes des jours de la semaine -->
    <div class="day-name" *ngFor="let day of ['Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam', 'Dim']">
      {{ day }}
    </div>

    <!-- Grille des jours -->
    <ng-container *ngFor="let row of getCalendarRows()">
      <div class="day-cell" *ngFor="let day of row">
        <div class="day-content" [ngClass]="{'has-event': prochainesDatesByDate[day.date], 'highlight-day': prochainesDatesByDate[day.date]}">
          
          <!-- Affiche le numéro du jour -->
          <div class="day-number" *ngIf="day.date">
            {{ day.date.split('-')[2] }}
          </div>

          <!-- Marqueur d'exécution -->
          <div class="event-marker" *ngIf="prochainesDatesByDate[day.date]">
            
            <span class="tooltip">Exécution le {{ convertToLocaleDate(prochainesDatesByDate[day.date]) }}</span>
          </div>

        </div>
      </div>
    </ng-container>
  </div>
</div>
