

  
  



<div class="dashboard-container">
  <app-animated-background></app-animated-background>

  <app-backoffice-navbar></app-backoffice-navbar> 

  <div class="main-content">

    <!-- Header Component -->

    <!-- Content Area with adjusted layout -->
   
      <!-- Section 1: Top row -->
      <div class="content-wrapper single-column">
       
          <app-expense-category></app-expense-category>
          <app-category-list></app-category-list>
        </div>
     


    
</div>

<!-- 3D card canvas -->

