<div class="category-list-container">
  <h2 class="list-title">Liste des Objectifs</h2>

  <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
    <button class="small-refresh-button" (click)="loadObjectifs()">Rafraîchir</button>
  </div>

  <div *ngIf="loading" class="loading-message">Chargement des objectifs...</div>

  <div *ngIf="error" class="no-categories">{{ error }}</div>

  <div *ngIf="!loading && !error && objectifs.length === 0" class="no-categories">
    Aucun objectif trouvé.
  </div>

  <div *ngIf="!loading && !error && objectifs.length > 0" class="category-cards">
    <div *ngFor="let objectif of objectifs" class="category-card" (dblclick)=" openPlanEpargneModal(objectif)">
      <div class="category-description">Nom : {{ objectif.nom }}</div>
      <div class="category-description">Montant Objectif : {{ objectif.montantObjectif }} DT</div>
      <div class="category-description">Date de Création : {{ objectif.dateCreation | date: 'dd/MM/yyyy' }}</div>
      <div class="category-description" *ngIf="objectif.compteEpargne">
        Compte #{{ objectif.compteEpargne.id }}
      </div>
      <div class="actions">
        <button class="btn btn-danger btn-sm" *ngIf="objectif" (click)="deleteObjectif(objectif.id!)">Supprimer</button>
        <button class="btn btn-primary btn-sm" (click)="openEditPopup(objectif)">Modifier</button>
      </div>
    </div>
  </div>

  <div class="edit-objectif-popup" *ngIf="isEditPopupVisible && selectedObjectif">
    <button type="button" class="close-button" (click)="closeEditPopup()">×</button>
    <h3>Modifier l'Objectif #{{ selectedObjectif?.id }}</h3>
    <form *ngIf="selectedObjectif">
      <div class="mb-3">
        <label for="nom">Nom de l'Objectif</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="selectedObjectif.nom" name="nom">
      </div>
      <div class="mb-3">
        <label for="montantObjectif">Montant Objectif (DT)</label>
        <input type="number" class="form-control" id="montantObjectif" [(ngModel)]="selectedObjectif.montantObjectif" name="montantObjectif">
      </div>
      <div class="modal-actions">
        <button type="button" class="btn btn-outline-dark" (click)="closeEditPopup()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="saveObjectif()">Enregistrer</button>
      </div>
    </form>
  </div>

  <div class="plan-epargne-popup" *ngIf="isPlanEpargnePopupVisible && selectedPlanEpargne">
    <button class="close-button" (click)="closePlanEpargnePopup()">×</button>
    <h3>Plan d'Épargne</h3>
    <div class="plan-epargne-details">
      <p>Montant Objectif : {{ selectedPlanEpargne?.montantObjectif }} DT</p>
      <p>Date Estimée : {{ selectedPlanEpargne?.dateEstimee }}</p>
      <p>Recommandation : {{ selectedPlanEpargne?.recommendation }}</p>
    </div>
    <div class="popup-buttons">
      <button (click)="closePlanEpargnePopup()">Fermer</button>
    </div>
  </div>
</div>